doctype html
html
  head
    title Debt to Free Cash Flow
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="/style.css")
  body
    table
      thead
        tr
          th
          each headers, page in ids
            each title, id in headers
              th= title
      - var order = Object.keys(data).sort(function(a,b){return (data[a]['fcf']<0)-(data[b]['fcf']<0) || data[a]['dfcf']-data[b]['dfcf']})
      each symbol in order
        tr(class= data[symbol]['fcf'] < 0 ? 'red' : '')
          td
            a(href='/reload/'+symbol)= symbol
          each headers, page in ids
            each title, id in headers
              if data[symbol][id]
                td= data[symbol][id].toLocaleString('en', {useGrouping:true})