doctype html
html
  head
    title Search eBay sales
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="/style.css")
  body
    h1
      span.red Sele
      span.blue cted
      span.yellow Sel
      span.green lers
      span.by by #[a(href="http://andrew.kerr.id.au") @akerr]
    p eBay does not provide a way to search only the sellers participating in a sale.
    form(action="/search")
      input(name="url" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="Paste the URL of the sale T&Cs" size=40 autofocus)
      br
      input(name="item" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="Item to search for (optional)" size=20)
      button(title=hits + ' searches and counting') Search sale
    #progress
    progress(min=0 max=100)
    #links
    #error
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.1.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/client.js")