doctype html
html
  head
    title Debt to Free Cash Flow
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="/style.css")
  body
    block content
      table
        thead
          tr
            th
            each headers, page in ids
              each title, id in headers
                th= title
        each val, sym in data
          tr
            td= sym
            each headers, page in ids
              each title, id in headers
                td= val[id]
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.1.min.js")
      script(src="/client.js")