doctype html
html
  head
    title Search eBay sales
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="/style.css")
  body
    h1
      span.red Sele
      span.blue cted
      span.yellow Sel
      span.green lers
    p Maintenance mode. Please check back soon.