body {
  font-family: sans-serif;
  margin: 2em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
th, td {
  padding: 0.25em 1em;
  text-align: right;
}
.red {
  color: red;
}