body, label, input, button {
	font-family: -apple-system, sans-serif;
	font-size: 25px;
}

body {
  
}

input {
  box-sizing: border-box;
	border-radius: 0.5em;
	border: none;
  margin: 0 1em 0 0;
  padding: 0.5em 0.5em;
	outline: none;
  background-color: #f6f6f6;
}

.red {
  color: #E43137;
}

.blue {
  color: #0063D1;
}

.yellow {
  color: #F4AE01;
}

.green {
  color: #85B715;
}