body, label, input, button {
	font-family: -apple-system, sans-serif;
	font-size: 25px;
}

body {
  text-align: center;
}

input {
  box-sizing: border-box;
	border-radius: 0.5em;
	border: none;
  margin: 0 0.5em 0 0;
  padding: 0.5em 0.5em;
	outline: none;
  background-color: #f6f6f6;
}

button {
  display: inline-block;
  border-radius: 0.5em;
  border: none;
  padding: 0.5em 1em;
  margin: 0;
  text-decoration: none;
  background: #0063D1;
  color: white;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.red {
  color: #E43137;
}

.blue {
  color: #0063D1;
}

.yellow {
  color: #F4AE01;
}

.green {
  color: #85B715;
}

#progress {
  width: 50vw;
  margin: 1em auto 0;
  border-radius: 0.5em;
  border: none;
  padding: 0.5em 1em 0;
}

progress {
  width: 50vw;
}

#error {
  color: #E43137;
}